/*style sheet for hw4*/
body{
	font-family: Arial;
}

h1{
	text-align: center;
}

/* make columns */
.row {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.left {
  display: flex;
  flex-direction: column;
  width: 60%;


}
.right {
  display: flex;
  flex-direction: column;
  width: 40%;


}

.graph {
  height: 500px;
  width: 800px;
}

.graph .grid {
  stroke: black;
  stroke-dasharray: 0;
  stroke-width: 4;
 }
 
/* circle style */ 
circle {
	fill: blue;
	stroke-width:1;
}

circle:hover{
  fill: orange;
}

/* border for circle */
.borderitem{
  stroke: limegreen;
  stroke-width: 3;
}

